.todo-lefttab {
    min-width: 180px;
    height: 653px;
    background-color: #F88F14;
    text-align: center;
    .lefttab-item {
        border-bottom: 1px solid #FFFFFF;
    }
    a {
        text-decoration: none;
    }
    .lefttab-title {
        color: #FFFFFF;
    }
}